#General folder: latex and books
general/backups/*
general/books/*.pdf
general/latex/ai-project-pharo-things.pdf
general/latex/*.aux
general/latex/*.fdb_latexmk
general/latex/*.fls
general/latex/*.log
general/latex/*.synctex.gz

#Pharo folder: pharo images and vm
*.changes
*.image
*.sources
icon-packs/*
pharo
pharo-local/*
pharo-ui
pharo-vm/*
*.log
crash.dmp

pharo6/*
pharo7/*
createpharo6.sh
external/build/*
external/test/*
