#General folder: latex and books
general/backups/*
general/books/*.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.lol
#Pharo folder: pharo images and vm
*.changes
*.image
*.sources
icon-packs/*
pharo
pharo-local/*
pharo-ui
pharo-vm/*
*.log
crash.dmp

pharo6/*
pharo7/*
createpharo6.sh
*/build/*
