
.presentation_text {
	font-size: 25px;
	line-height:200%;
}

.presentation_heading {
	font-size: 30px;
	font-weight:bold;
}

#presentation_0_heading {
	font-size: 30px;
	text-align:center;
}

#presentation_0_text {
	font-size: 25px;
	text-align:center;
}

#presentation_buttons {
	position:fixed;
	bottom:0px;
	right:0px;
	margin:15px;
	z-index:10;
}

.presentation_button {
	position:initial;
	left:initial;
	top:initial;
	float:left;
}