div, p, li, span {
	font-size:18px;
	font-family:Arial,Helvetica,sans-serif;
}

.scrollbar {
	overflow-y:auto;
	overflow-x:hidden;
}

.background {
	margin:0px;
	background-image: linear-gradient(to bottom,rgb(240,240,240),rgb(180,180,180));
	overflow:hidden;
}

#viewport {
	width: 100vw;
	height: 100vh;
	margin:0px;
	padding:0px;
}

.item {
	margin:15px !important;
}

.heading {
	font-size:22px;
	font-weight:bold;
}

.text {
	font-size:18px;
	margin-bottom:45px;
}

.text2 {
	font-size:18px;
	margin-bottom:15px;
}

.note {
	position:relative;
	
	background-color:#ffffff;
	border:1px solid #000000;
	border-radius:10px 10px 10px 10px;
	-webkit-border-radius:5px 5px 2px Gray;
	-moz-border-radius:5px 5px 2px Gray;
	box-shadow:5px 5px 2px Gray;
	-webkit-box-shadow:5px 5px 2px Gray;
	-moz-box-shadow:5px 5px 2px Gray;
	
}

.main_note {
	position:fixed;
	left:200px;
	top:0px;
	width:calc(100% - 230px);
	height:calc(100% - 30px);
	margin:15px;
	z-index:1;
}

.inner_note {
	width:calc(100% - 60px);
	min-height:60px;
	margin:15px;
	padding:15px;
	content:"";
	display:block;
}

.button {
	width:60px;
	height:60px;
	position:relative;
	top:0px;
	left:calc(50% - 65px);
	margin:15px;
	padding: 15px;
	text-align: center;
	vertical-align: middle;
	
	border:1px invisible #000000;
	border-radius:10px 10px 10px 10px;
	-webkit-border-radius:5px 5px 2px Gray;
	-moz-border-radius:5px 5px 2px Gray;
	box-shadow:5px 5px 2px Gray;
	-webkit-box-shadow:5px 5px 2px Gray;
	-moz-box-shadow:5px 5px 2px Gray;
	background-color:#aaaaaa;
	
	z-index:3;
}

.button_center {
	margin:15px;
	display:flex;
	align-self:center;
}

.unused {
	opacity:0;
	visibility:hidden;
}

.unused_all {
	opacity:0;
	visibility:hidden;
	display:none !important;
}

.table {
	width:100%;
	table-layout:fixed;
	height:100%;
	
	display:table;
}

.table_row {
	display:table-row;
}

.table_row_bottom {
	position:relative;
	bottom:0px;
	width:100%;
	display:table-row;
}

.row_inner {
	display:flex;
	flex-wrap:wrap-reverse;
	margin-left:30px;
	margin-right:30px;
	margin-bottom:15px;
}

/*PAGE_0:*/

.start_page {
	position:fixed;
	left:0px;
	top:0px;
	width:calc(100% - 30px);
	height:calc(100% - 30px);
	margin:15px;
	
	z-index:1;
}

.logo {
	width:20%;
	border:none;
}

.start {
	margin-left:calc(10% + 15px);
	margin-right:calc(10% + 15px);
	margin-bottom:15px;
	margin-top:15px;
	text-align:left;
}

/*PAGE_1:*/

.note_spawn {
	width:calc(100% - 30px);
	min-height:90px;
	margin:15px;
	content:"";
	display:block;
	z-index:2;
}

#pg_1_drop_row {
	height:120px;
}

#pg_1_drop_inner {
	justify-content:space-around;
}

.drop_zone {
	width:90px;
	height:90px;
	float:left;
	border:1px invisible #000000;
	border-radius:40px 40px 40px 40px;
	-webkit-border-radius:20px 20px 2px Gray;
	-moz-border-radius:20px 20px 2px Gray;
	box-shadow:5px 5px 2px Gray;
	-webkit-box-shadow:5px 5px 2px Gray;
	-moz-box-shadow:5px 5px 2px Gray;
	padding: 15px;
	text-align: center;
	z-index:10;
	display:table;
}

.drop_zone:before {
	content:"";
	display:block;
}

.color_1 {
	background-color:#00cc00;	
}

.color_2 {
	background-color:#99cc00;	
}

.color_3 {
	background-color:#aaaaaa;	
}

.color_4 {
	background-color:#cc9900;	
}

.color_5 {
	background-color:#cc0000;	
}

.detail_note {
	position:fixed;
	left:215px;
	bottom:150px;
	width:calc(100% - 260px);
	height:calc(100% - 195px);
	margin:15px;
	z-index:5;
}

.info_button {
	width:60px;
	height:60px;
	position:relative;
	top:0px;
	right:0px;
	margin:0px;
	padding:0px;
	margin-left:15px;
	text-align:center;	
	vertical-align:middle;
	float:right;
	
	border:1px invisible #000000;
	border-radius:10px 10px 10px 10px;
	-webkit-border-radius:5px 5px 2px Gray;
	-moz-border-radius:5px 5px 2px Gray;
	box-shadow:5px 5px 2px Gray;
	-webkit-box-shadow:5px 5px 2px Gray;
	-moz-box-shadow:5px 5px 2px Gray;
	background-color:#0000ff;
	color:#ffffff;
	font-size:50px;
	
	z-index:inherit;
}

.help {
	display: inline-block;
	padding-right:15px;
	margin-bottom:15px !important;
	position:fixed;
	bottom:165px;
}

.cp {
	display:inline;
}

.highlight {
	-webkit-box-shadow: 0px 0px 15px 5px #9ecaed;
	-moz-box-shadow: 0px 0px 15px 5px #9ecaed;
	box-shadow: 0px 0px 15px 5px #9ecaed;
}

.drop_zone_text_top {
	margin-bottom:0px;
	font-size:16px;
	display:table-row;
}

.drop_zone_text_bottom {
	position:relative;
	bottom:0px;
	margin-top:0px;
	font-size:16px;
	display:table-row;
	height:16px;
}

/*PAGE_2:*/

.answers {
	width:calc(100% - 30px);
	height:0px;
}

.task {
	z-index:3;
}

.back {
	width:120px;
	height:60px;
	padding: 15px;
	text-align: center;
	vertical-align: middle;
	
	border:1px invisible #000000;
	border-radius:10px 10px 10px 10px;
	-webkit-border-radius:5px 5px 2px Gray;
	-moz-border-radius:5px 5px 2px Gray;
	box-shadow:5px 5px 2px Gray;
	-webkit-box-shadow:5px 5px 2px Gray;
	-moz-box-shadow:5px 5px 2px Gray;
	background-color:#aaaaaa;
	color:red;
	
	z-index:3;
}

svg {
	width:100px;
	height:100px;
}

#pg_2_graphic {
	position:relative;
	right:0px;
	float:right;
	margin:15px;
	
}

#pg_2_bottom_row {
	height:105px;
}

#pg_2_task > p {
	margin-top:5px;
	margin-bottom:5px;
}

/*PAGE_3:*/

#pg_3_print {
	right:0px;
	top:0px;
	left:auto;
	float:right;
}

#pg_3_print_text {
	display:none;
}

#pg_3_heading{
	margin-bottom:0px;
}

#pg_3_svg {
	position:relative;
	width:500px;
	height:580px;
	left:calc(50% - 265px);
	margin:15px;
}