@media print {
	
	div, p {
		visibility:hidden;
		display:none;
		opacity:0;
		color:black !important;
		border:none !important;
	}
	
	#viewport, #page_3, #page_3 > div, #pg_3_text, #pg_3_auswertung, #pg_3_auswertung > p {
		visibility:visible;
		display:block;
		opacity:1;
	}
	
	.body {
		overflow:visible;
	}
	
	#viewport {
		height:initial;
	}
	
	#page_3 {
		left:0px;
		top:0px;
		margin:0px;
		padding:0px;
		height:initial;
		width:100%;
		position:initial;
		
		box-shadow:none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
	}
	
	#pg_3_text {
		clear:both;
	}
	
	#pg_3_print_text {
		position:relative;
		visibility:visible;
		display:block;
		opacity:1;
		vertical-align:middle;
		margin-bottom:15px;
	}

	#pg_3_print_logo {
		float:left;
		margin-right:15px;
	}
	
	#pg_3_print {
		visibility:hidden !important;
		display:none !important;
		opacity:0 !important;
	}
}