<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.zweidenker.p2p">
    <uses-feature android:name="android.hardware.wifi.direct" />

    <uses-permission
            android:required="true"
            android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission
            android:required="true"
            android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
            android:required="true"
            android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission
            android:required="true"
            android:name="android.permission.INTERNET"/>
</manifest>
